
.custom-table {

  .search {
    padding: 10px 24px 0 24px;

    .mat-form-field {
      width: 350px;
    }
  }

  height: 537px;

  .mat-table {
    width: 100%;

    .mat-row {
      height: 36px;
    }
  }
}

