
.custom-table {
  height: 551px;

  .hidden {
    opacity: 0;
  }

  .search {
    padding: 10px 24px 0 24px;

    .mat-form-field {
      width: 350px;
    }
  }

  .mat-table {
    width: 100%;

    tr {
      cursor: pointer;

      &.mat-row {
        height: 32px;

        &.expanded-detail-row {
          height: 0;
        }

        &.expanded-element-row td {
          border-bottom-width: 0;
        }
      }
    }
    .expanded-detail-column {
      overflow: hidden;
      display: flex;
    }

  }
}

