<div style="padding: 20px 40px;">
  <div class="custom-table mat-elevation-z8" fxLayout="column">

    <div class="search" fxLayout fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-form-field floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput #search (keyup.enter)="searchx()">
        <button mat-icon-button matSuffix (click)="clear()">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
      <div style="padding-bottom: 10px;">
        <button mat-stroked-button color="accent">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>

    <mat-progress-bar [ngClass]="{hidden: !loading}" mode="indeterminate"></mat-progress-bar>

    <perfect-scrollbar fxFlex="grow">
      <table mat-table matSort multiTemplateDataRows [dataSource]="filteredUsers"
             (matSortChange)="onSortChange($event)">

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="id"> ID</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="firstname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Firstname</th>
          <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
        </ng-container>

        <ng-container matColumnDef="lastname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Lastname</th>
          <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="actions" stickyEnd>
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
            <button mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>

          </td>
        </ng-container>


        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="expanded-detail-column"
                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem beatae cumque dolores facere ipsa
                nobis omnis quisquam voluptate! Aliquid beatae dolor eaque enim est eveniet exercitationem iste nisi,
                quasi qui? Culpa, cumque doloremque earum molestiae nemo nulla porro recusandae? At consequatur esse
                porro reiciendis sint tempore ut. Repudiandae, sapiente?</p>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns"
            class="expanded-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandRow(element)">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="expanded-detail-row"></tr>
      </table>
    </perfect-scrollbar>

    <mat-progress-bar [ngClass]="{hidden: !loading}" mode="indeterminate"></mat-progress-bar>
    <mat-paginator [pageIndex]="page" [pageSize]="10" [length]="total" (page)="onPageChange($event)"></mat-paginator>

  </div>
</div>
