
.custom-table {
  height: 615px;

  .ps__rail-x, .ps__rail-y {
    z-index: 999;
  }

  .hidden {
    opacity: 0;
  }

  .search {
    padding: 10px 24px 0 24px;

    .mat-form-field {
      width: 350px;
    }
  }

  .mat-table {
    width: 100%;

    .cdk-column-actions {
      width: 40px;
    }


    td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
      padding-right: 0;
    }


    .mat-table-sticky:last-child:not(.mat-header-cell) {
      border-left: 1px solid #e0e0e0;
    }

    tr {
      cursor: pointer;

      &.mat-row {
        height: 32px;

        &.expanded-detail-row {
          height: 0;
        }

        &.expanded-element-row td {
          border-bottom-width: 0;
        }
      }
    }

    .expanded-detail-column {
      overflow: hidden;
      display: flex;
    }

  }
}

