
button {
  width: 100%;
  position: relative;

  .overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &.success.mat-raised-button[disabled] {
    background: green;
  }

  &.error.mat-raised-button[disabled] {
    background: red;
  }

  &[disabled].mat-raised-button {
    color: white;
  }

  .hidden {
    opacity: 0;
  }
}
