
.mat-raised-button {
  width: 100%;
  position: relative;

  .overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &.success[disabled] {
    background: #4caf50;
  }

  &.error[disabled] {
    background: #f44336;
  }

  &[disabled] {
    color: white;
  }

  .hidden {
    opacity: 0;
  }
}
